:root{
  --azul-fondo: rgb(17, 103, 110);
  --tomato: tomato;
  --blanco: #fff;
  --gris: grey;
  --gris-claro: rgba(232, 232, 232, 0.946);

}

html {
  background-color: var(--azul-fondo);
  position: relative;
}

html::after,
html::before {
  content: '';
  position: fixed;
  border-radius: 50%;
  width: 750px;
  height: 750px;
  z-index: -1;
}

html::before {
  top: -570px;
  left: -250px;
  content: url(../asset/img/bg-pattern-top.svg);
}

html:after {
  bottom: -400px;
  right: -50px;
  content: url(../asset/img/bg-pattern-bottom.svg);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
  font-family: sans-serif;
}

.card {
  width: 300px;
  height: 325px;
  background-color: var(--blanco);
  border-radius: 20px;
  overflow: hidden;
}

.card .card-header {
  background-image: url(../asset/img/pattern.svg);
  height: 120px;
  position: relative;
}

.card .card-header .card-image {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  border: 3px solid var(--blanco);
  background-color: var(--blanco);
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 115px;
  padding-bottom: 10px;
}

.card-body .card-text {
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
}

.card-text-light {
  color: var(--gris);
  font-weight: normal;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--gris-claro);  
}

.card-stats .card-stats {
  text-align: center;
}

.card-footer .card-stats .card-number {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.card-ciudad {
  font-size: 0.8em;
}

.card-stats .card-number .card-description {
  font-size: 0.7em;
  letter-spacing: 1px;
}